:root {
    --black-color: #000022;
    --background-color: #E8E6F0;
    --pink-color: #FC2865;

}

body {
    margin: 0;
    background-image: url('/static/background_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}


/*contenedor*/
.contenedor {

    height: 50%;
    max-width: 350px;
    margin: 2% auto;
    padding: 2rem;
    padding-top: 0.5rem;
    background-color: #ffffff;
    background: white;
    border: .2em solid var(--black-color);
    border-radius: 25px;
}  

.grupo-input {
    border: 1px solid var(--color-borde);
    margin: 2% auto;
    
    background-color: #ffffff;

}

.grupo-input label {
    display: block;
    
    
}

#bajada {
    text-align: center;
    font-size: 30px;
    color: #000000;
}


/* CSS para el fondo oscuro que cubre la página */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; /* Z-index alto para superponer otros elementos */
    
    justify-content: center;
    align-items: center;
}

/* CSS para el contenido del modal */
.modal-contenido {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

/* CSS para los botones dentro del modal */
.modal-contenido button {
    margin: 10px;
    
}

/* Estilo para el botón de cierre */
#cerrar-error-btn {
    background-color: #ff4444; /* Color rojo para indicar un error */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
}



input[type="text"],
select,
textarea {
    width: 100%; /* Esto hará que todos los cuadros de entrada tengan el mismo ancho */
    /* Otros estilos opcionales, como tamaño de fuente, espaciado, etc. */
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
  }


textarea {
    resize: none;
}


#registrar-hincha {
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--pink-color);
    width: 100%;
    text-align: center;
    padding: 0.5em;
    border: 0.2em solid var(--black-color);
    box-shadow: 0.175em 0.175em 0px 0px black;
    border-radius: .3em;
    font-weight: 600;
    cursor: pointer;
}